@import './Variables.module';

@mixin flex-start-center($direction,$gap,$wrap) {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: $wrap;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-center-center($direction,$gap,$wrap) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: $wrap;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-start-start($direction,$gap,$wrap) {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: $wrap;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-sb-center($direction,$gap,$wrap) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: $wrap;
  flex-direction: $direction;
  gap: $gap;
}

@mixin input {
  width: 100%;
  padding: .5rem .75rem;
  border: $primary-border;
  border-radius: $second-border-radius;
  font-size: $second-font-size;
  color: $primary-black;

  &:focus {
    border-color: $primary-blue;
  }

  &::placeholder {
    color: $second-gray;
  }
}

@mixin button {
  @include flex-center-center('row',0,'nowrap');
  font-size: $second-font-size;
  color: $primary-white;
  background: $primary-blue;
  padding: .25rem 1.125rem;
  border-radius: $second-border-radius;
}