@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$primary-white: #FFF;
$primary-gray: #F7F7F8;
$transparent-background: rgba(0, 0, 0, 0);
$primary-black: #232134;
$second-black: #343A40;
$primary-blue: #5E96FC;
$second-blue: #3B7CD3;
$third-blue: #DEECFF;
$second-gray: #ACADB9;
$third-gray: #7B7C88;
$primary-border-radius: .75rem;
$second-border-radius: .5rem;
$primary-font-size: 100%;
$second-font-size: .875rem;
$primary-line-height: 1.125rem;
$title-font-weight: 700;
$title-font-size: 1.125rem;
$second-title-font-size: 1.75rem;
$text-font-weight: 400;
$primary-transition-time: .3s;
$primary-border: 1px solid #EAEBED;
$primary-font-family: 'Inter', 'sans-serif';
$circle: 50%;

