@import '../../styles/Variables.module';
@import '../../styles/Mixins.module';

.filters {
  @include flex-start-start(column, 2rem, nowrap);
  background: $primary-white;
  border: $primary-border;
  border-radius: $primary-border-radius;
  padding: 1.125rem;
  width: 26.25rem;

  .filtersTop {
    width: 100%;
    @include flex-sb-center(row, 4.1875rem, nowrap);

    .clearFilters {
      @include flex-start-center(row, .5rem, nowrap);
      font-size: $second-font-size;
      color: $second-gray;


      &:hover {
        color: $primary-blue;
      }
    }
  }

  .filtersOptions {
    width: 100%;
    @include flex-start-start(column, 1.125rem, nowrap);

    .applyBtn {
      width: 100%;
      height: 2.5rem;
    }
  }
}

.filtersTitle {
  font-size: $title-font-size;
  line-height: $primary-line-height;
  font-weight: $title-font-weight;
  color: $primary-black;
}

.filtersSubtitle {
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  font-weight: $title-font-weight;
  color: $primary-black;
}

.optionItem {
  width: 100%;
  @include flex-start-start(column, .5rem, nowrap);

  .itemChildren {
    @include flex-start-start(column, 1.125rem, nowrap);
    width: 100%;
  }
}

.catalog {
  border: none;
  @include flex-start-start(column, 0, nowrap);
  width: 100%;

  .catalogSelect {
    @include flex-sb-center(row, 2rem, nowrap);
    width: 100%;
    padding: .5rem .75rem;
    border: $primary-border;
    border-radius: $second-border-radius;
    font-size: $second-font-size;
    color: $second-gray;
    cursor: pointer;

    .catalogImage {
      width: .875rem;
      height: .375rem;
      transition: $primary-transition-time;
    }
  }

  .cataloguesChildren {
    width: 100%;
    height: 0;
    opacity: 0;
    z-index: -10000;
    @include flex-start-start(column, 0, nowrap);
    overflow-y: auto;
    transition: $primary-transition-time;

    .cataloguesBtn {
      width: 100%;
      padding: .5rem .75rem;
      text-align: left;
      font-size: $second-font-size;
      transition: $primary-transition-time;

      &:hover,
      &:focus {
        background: $primary-blue;
        color: $primary-white;
      }
    }
  }

  &.open {
    border: $primary-border;
    border-radius: $second-border-radius;

    .catalogSelect {
      border: none;

      .catalogImage {
        transform: rotate(180deg);
      }
    }

    .cataloguesChildren {
      height: 300px;
      opacity: 1;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 981px) {
  .filters {
    width: 100%;
  }

  .catalog {
    &.open {
      .cataloguesChildren {
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 681px) {
  .filters {
    width: 100%;

    .filtersTop {
      @include flex-start-start(column, 1rem, nowrap);

      .clearFilters {
        @include flex-start-start(row, .5rem, nowrap);
        padding: 0;
      }
    }
  }
}